@media screen and (max-width: 768px) {
  :root {
    --bs-primary: #4FA6F0;
  }

  .navbar-nav.login {
    display: none;
  }

  .btn-primary {
    margin-left: auto;
  }

  .navbar {
    background-color: #252B42;
  }

  .navbar-toggler {
    border: none;
  }

  .navbar-toggler-icon {
    color: #fff;
  }

  .m-icon {
    object-fit: contain;
  }

  .nav-item .nav-link {
    display: block;
    text-align: center;
    width: 100%;
  }

  .translate-down {
    transform: translateY(10%);
  }

  .nav-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 3%;
  }

  .hero-image {
    flex-direction: column;
    justify-content: center;
  }

  .hero-image button {
    margin-top: 10px;
  }

  .mb-container {
    background-color: #252B42;
    padding: 5%;
  }

  .sub-text {
    width: 100%;
  }

  .card-wrapper {
    flex-direction: column;
    width: 100%;
    gap: 5rem;
  }




}